<section>
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div>
    <div>
      <h3>Products</h3>
      <p>Count: <%= @product_count %></p>
    </div>

    <div>
      <h3>Categories</h3>
      <p>Count: <%= @category_count %></p>
    </div>
  </div>  
</section>